html, body {
 font-family: "Lato", sans-serif;
}

#intro {
  margin-top:-20px;
  z-index:2;
  background-color:white;
  width:800px;
  text-align:center;
  border:4px solid white;
  border-radius: 40px;
}
.sidenav {
 background-image:url("background.png");
 height: 243px;
 width: 100%;
 z-index: 1;
 transition: left 0.4s;
 transition-timing-function: cubic-bezier(.17,.67,.83,.67);
 text-align:right;
}

.sidenav a {
  margin:3px;
 padding: 18px 18px 18px 16px;
 text-decoration: none;
 font-size: 38px;
 color: #818181;

}

.sidenav a:hover {
 color: black;
}

.main {
 font-size: 28px; /* Increased text to enable scrolling */
 padding: 0px 10px;
    transition: margin-left 0.4s;
    transition-timing-function: cubic-bezier(.17,.67,.83,.67);
}

#logo {
 display: absolute;
 top:0;
 left:0;
 padding:10px;
}

@media screen and (max-width: 800px) {

}
